body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
}

footer {
    padding: 10px;
    text-align: center;
}

.navbar-brand {
    font-weight: bold;
}

/* Light Mode Styles */
body.light-mode,
.light-mode iframe {
    background-color: #FFFFFF;
}

.navbar-light {
    background-color: #e0e0e0;
}

.light-mode footer {
    background-color: #e0e0e0;
}

/* Dark Mode Styles */
body.dark-mode,
.dark-mode iframe {
    background-color: #0B0F19;
    color: #FFFFFF;
}

.navbar-dark {
    background-color: #282828;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

.dark-mode footer {
    background-color: #282828;
}